@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Saira+Extra+Condensed:wght@300;400&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css');

html {
  background: rgb(200, 213, 220);
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(176, 206, 223, 0.7);
  box-shadow: 0px 0px 5px 5px rgba(176, 206, 223, 0.7);
  margin: 1.5% auto;
  width: 80%;
  border-radius: 0.8vw;
  color: #6c757d;
}

a {
  text-decoration: none;
}

a[href*="softuni"]{
  color: rgb(209, 152, 30);
}

a[href*="udemy"] {
  color: rgb(91, 73, 139);
}

h1,
h2,
h3,
h4 {
  font-family: Saira Extra Condensed;

}

h4 {
  font-size: 1.5vw;
  margin: 1vw 0 0 0;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
}

.fa-linkedin-in:hover {
  color: rgb(7 102 194);
}

.fa-facebook-f:hover {
  color: rgb(58 89 152);
}

.fa-instagram:hover {
  color: rgb(185, 63, 223)
}

header {
  display: flex;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  justify-content: space-between;
  top: -0.7vw;
  padding: 0 3.5vw;
  z-index: 1;
  border-radius: 0.8vw 0.8vw 0 0;
}

.left,
.right {
  display: flex;
  align-items: center;
  margin-top: 2.4%;
  margin-bottom: 0.8%;
}

.left svg:first-of-type {
  width: 3vw;
}

.stroke {
  fill-opacity: 0%;
  stroke: #000;
  stroke-width: 10px;
  stroke-dasharray: 4000;
  animation: stroke 30s ease infinite;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 4000;
    fill-opacity: 0%;
    stroke-opacity: 100%;
  }

  25% {
    fill-opacity: 1%;
  }

  33% {
    stroke-dashoffset: 0;
    fill-opacity: 100%;
    stroke-opacity: 100%;
  }

  90% {
    stroke-dashoffset: 0;
    fill-opacity: 100%;
    stroke-opacity: 0%;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 0%;
    stroke-opacity: 0%;
  }
}

.left svg:nth-of-type(2) {
  width: 10vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

header .nav-bar-toggle-button {
  visibility: hidden;
}

header nav ul {
  display: flex;
  flex-direction: row;
  font-size: 0.95vw;
  list-style-type: none;
}

header nav a {
  color: #000;
  margin-right: 0.5vw;
  padding-bottom: 0.3vw;
  position: relative;
  text-decoration: none;
}

header nav a::before {
  background-color: rgb(108, 80, 145);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1vw;
  transform: scaleX(0);
  transition: transform 0.7s ease;
}

header nav a:hover::before {
  transform: scaleX(1);
}

.social i {
  color: #000;
  width: 1vw;
  font-size: 1vw;
  padding: 0.35vw;
  text-align: center;
  border-radius: 50%;
  margin-left: 0.2vw;
  transition: 0.7s;
}

.social i:hover {
  background-color: rgb(201, 206, 209);
}

/* Sections */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2vw;
}

/* Home section */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 38vw;
}

.home .intro-text {
  padding: 3vw 0 3vw 2.5vw;
  width: 70%;
}

.home .intro-image {
  position: relative;
  background: url(images/bg.svg) no-repeat;
  background-size: 195%;
  background-position: -3.7vw 0.8vw;
  width: 27%;
  padding: 3vw 0 5vw 3vw;
}

.home h1,
h2,
h3 {
  width: fit-content;
  margin: 0;
}

.home h1 {
  font-size: 17vw;
  color: #ebebeb;
  line-height: 5.5vw;
}

.home h1+h3 {
  font-size: 3vw;
  font-weight: bold;
  margin-left: 0.6vw;
}

.home h3 span {
  color: rgb(108, 80, 145);
}

.home h2 {
  font-size: 3.8vw;
  color: rgb(61, 64, 87);
  font-weight: 400;
  margin-left: 0.6vw;
  line-height: 3vw;
}

.home .intro-image img {
  position: relative;
  border-radius: 40%;
  width: 78%;
  top: 1vw;
  left: 1vw;
}

/* About section */
.about {
  display: flex;
  background-color: rgb(54, 57, 80);
  color: #fff;
  justify-content: space-between;
  padding: 2.5vw;
  align-items: center;
}

.about .about-image {
  flex: 1 20%;
}

.about h4 {
  color: white;
}

.about .about-image img {
  width: 85%;
  border: 0.8vw solid #fff;
  border-bottom: 2.2vw solid #fff;
  box-sizing: border-box;
  transform: rotate(-9deg);
}

.about .about-text {
  font-family: Roboto, sans-serif;
  flex: 1 80%;
  font-weight: 300;
}

.about i {
  background-color: rgb(108, 80, 145);
  border-radius: 50%;
  padding: 0.4vw;
  margin-right: 0.5vw;
  font-size: 1.2vw;
}

.about span {
  font-style: italic;
  float: right;
}

/* Experience section */
.experience {
  width: 93%;
  margin: auto;
}

.experience #left {
  float: left;
  width: 50%;
}

.experience #right {
  float: right;
  width: 50%;
}

.experience article {
  width: 90%;
  display: block;
  margin-left: 4vw;
  font-size: 0.8vw;
}

.experience article label {
  cursor: pointer;	
}

.experience article h4 {
  background-image: linear-gradient(90deg, rgba(235,235,235,1) 35%, rgba(255,255,255,1) 100%);
  background-size: 0 100%;
  transition: .4s;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding-left: 0.5vw;
  border-bottom: 0.2vw solid #dfdfdf;
  font-size: 1.3vw;
}

.experience article p {
  font-weight: bold;
  padding-left: 0.5vw;
  margin: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.experience article p span {
  float: right;
  margin-right: 0.5vw;
}


.dropdown h4::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1vw;
  content: "\f0d9";
  float: right;
  margin: 0.5vw;
  transition: ease .2s;
}


.dropdown p span {
  color: rgb(91, 73, 139);
  font-weight: bold;
  padding-left: 0.5vw;
  display: block;
}

.dropdown .slide {
  clear: both;
  height: 0;
  overflow: hidden;
  transition: height .7s ease;
  list-style-type: none;
  padding: 1.7vh 0 0 0.8vw;
  margin: 0;
  border: 1px solid #fff;
  border-top: 0;
}

.dropdown .touch {
  position: absolute;
  opacity: 0;
  height: 0;
}

.dropdown .touch:checked+label h4::after {
  /*content: "\f0d8";*/
  transform: rotate(-45deg);
}

.dropdown .touch:checked+label h4{
  background-size: 100% 100%;
}


.dropdown .touch:checked+label p{
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.dropdown .touch:checked+label+.slide {
  height: 12vh;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #dfdfdf 50%, rgba(0, 0, 0, 0)) 1 100%;
  border-top: 0;
  padding: 1.7vh 0 0 0.8vw;
}


/* Education section */
.education {
  width: 93%;
  margin: auto;
}

h4 i {
  background-color: rgb(201, 206, 209);
  border-radius: 50%;
  padding: 0.4vw;
  margin-right: 0.5vw;
  font-size: 1.2vw;
}

.education article {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 4vw;
  font-size: 0.8vw;
  gap: 5vw;
  padding-bottom: 1vw;
}

.education article h4 {
  padding-left: 0.5vw;
  border-bottom: 0.2vw solid #dfdfdf;
  font-size: 1.3vw;
}

.education article span {
  color: rgb(91, 73, 139);
  font-weight: bold;
  padding-left: 0.5vw;
}

.education ul {
  list-style-type: none;
  margin: 1vw 1vw 0.5vw 1vw;
  padding: 0;
}

.education article li i {
  color: green;
}

.education li:first-of-type {
  margin-bottom: 0.6vw;
  font-weight: bold;
}

.education article div {
  flex-basis: 30%;
}

.education article p {
  text-align: right;
  font-weight: bold;
}


/* News section */
.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 93%;
  margin: auto;
}

.news div {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.news article {
  font-size: 0.9vw;
  flex-basis: 30%;
}

.news i {
  font-size: 1.3vw;
  color: rgb(0, 0, 0);
}

.news .title {
  width: 12vw;
  height: 12vw;
  display: block;
  border: 0.5vw #dfdfdf solid;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  transition: .5s;
}

.news img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 50%;
}

.news .title:hover {
  border: 0.5vw #999999 solid;
}

/* Contact section */
.contact {
  width: 50%;
  margin: auto auto 1vw;
  font-size: 1vw;
}

.contact h4 {
  margin-bottom: 1vw;
}

.contact input[type=text],
input[type=email],
textarea {
  font-family: Roboto, sans-serif;
  font-size: 0.8vw;
  width: 100%;
  padding: 0.8vw;
  border: 0.12vw solid #ccc;
  border-radius: 0.4vw;
  box-sizing: border-box;
  margin: 0.5vw auto 1vw;
  resize: none;

}

.contact label {
  color: black;
}

.contact input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 0.12vw solid rgb(108, 80, 145);
  outline: none;
}

input[type=submit] {
  font-size: 0.8vw;
  background-color: rgb(108, 80, 145);
  color: white;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Footer section */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7vw;
  background-color: rgb(54, 57, 80);
  border-radius: 0 0 0.8vw 0.8vw;
  text-transform: uppercase;
  color: #fff;
  padding: 0 2vw;
}

footer i {
  padding: 0.35vw;
  border-radius: 50%;
  transition: 1s;
  color: #fff;
}

footer i:hover {
  background-color: rgb(82, 88, 139)
}